<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TiendaElNaranjo"
        tools:targetApi="31">
        <activity
            android:name=".DetallePagoSalvo"
            android:exported="false" />
        <activity
            android:name=".DetallePagoRoma"
            android:exported="false" />
        <activity
            android:name=".DetallePagoAxion"
            android:exported="false" />
        <activity
            android:name=".DetallePagoAce"
            android:exported="false" />
        <activity
            android:name=".DetallePagoLechera"
            android:exported="false" />
        <activity
            android:name=".DetallePagoProteina"
            android:exported="false" />
        <activity
            android:name=".DetallePagoDeslactosada"
            android:exported="false" />
        <activity
            android:name=".DetallePagoAlpura"
            android:exported="false" />
        <activity
            android:name=".DetallePagoRajas"
            android:exported="false" />
        <activity
            android:name=".DetallePagoFrijol"
            android:exported="false" />
        <activity
            android:name=".DetallePagoElote"
            android:exported="false" />
        <activity
            android:name=".DetallePagoAtun"
            android:exported="false" />
        <activity
            android:name=".DetergentesMenu"
            android:exported="false" />
        <activity
            android:name=".LechesMenu"
            android:exported="false" />
        <activity
            android:name=".LateriaMenu"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>